html, body {
    background: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: #3e3e3e;
    box-sizing: border-box;
}

.background-container {
    &--purple {
        background: $background;
    }
    &--bluish {
        background: $background-alt;
    }
    text-align: center;
}

.banner {
    background: linear-gradient(274deg, #8d66f0 100%, #5436dd);;
    display: flex;
    justify-content: center;
    padding: rem-calc(24) 0;
    display: flex;
    a {
        text-decoration: none;
    }

    &--big {
        display: flex;
        &--icon {
            margin-right: rem-calc(10);
        }
        &--title {
            color: white;
            line-height: rem-calc(48);
            font-size: rem-calc(36);
            font-weight: 500;
        }
    }
    &--small {
        display: flex;
        margin: 0 rem-calc(20);
        &--icon {
            margin-right: rem-calc(10);
        }
        &--title {
            color: white;
            font-size: rem-calc(18);
            font-weight: 700;
        }
    }
}

.container {
    max-width: rem-calc(940);
    min-height: rem-calc(940);
    margin: 0 auto;
    padding: 0 rem-calc(42);
    &>.section {
        width: 60%;
    }
}

.button {
    text-decoration: none;
    border-radius: rem-calc(20);
    background-color: #ffffff;
    color: $primary;
    padding: rem-calc(6) rem-calc(35);
    display: inline-block;
    font-weight: 500;
    border: none;
    transition: box-shadow .1s ease-out;

    &:hover {
        box-shadow: rem-calc(1) 0 rem-calc(20) 0 rgba(0, 0, 0, 0.16);
    }

    &_inverted {
        color: #FFF;
        background: $primary;
        font-size: rem-calc(18);
        font-weight: normal;
        padding: rem-calc(10) rem-calc(40);
        min-width: rem-calc(200);
    }
}
.section {
    text-align: left;
    padding: rem-calc(45) 0;
    &_center {
        margin: 0 auto;
        text-align: center;
        .section--title {
            text-align: center;
            &--decorator {
                left: 50%;
                margin-left: rem-calc(-70);
            }
        }
    }
    &--title {
        font-size: rem-calc(36);
        line-height: rem-calc(48);
        font-weight: 700;
        position: relative;
        padding: rem-calc(10) 0;
        text-align: left;
        margin-bottom: rem-calc(30);
        &--decorator {
            position: absolute;
            bottom: rem-calc(-3);
            width: rem-calc(140);
            height: rem-calc(3);
            left: 0;
            background-color: $primary;
        }
    }
    
    &--info {
        font-size: rem-calc(18);
    }
    &--button {
        margin-top: rem-calc(45);
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: rem-calc(45);
    &--item {
        width: 23%;
        margin-bottom: rem-calc(12);
        font-weight: 500;
        color: $primary;
        font-size: rem-calc(18);
    }
}

.select-css {
    display: block;
    font-size: rem-calc(16);
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    min-width: rem-calc(300);
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 0 solid #aaa;
    box-shadow: rem-calc(2) 0 rem-calc(10) 0 rgba(0, 0, 0, 0.16);
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('../img/select.svg'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 rem-calc(1) rem-calc(3) rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 rem-calc(3) -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}

.options {
    display: flex;
    justify-content: space-between;
}